<p><%= t(:'email.welcome_header', :email => @email) %></p>

<p><%= t(:'email.welcome_body')%></p>

<p><%= link_to t(:'email.welcome_conf'), confirmation_url(@resource, confirmation_token: @token) %></p>
